.footer--dark {
  --ifm-footer-background-color: #f0f0f0;
  --ifm-footer-color: #111;
  --ifm-footer-link-color: #111;
  --ifm-footer-title-color: #111;
}

.footer--dark a {
  text-decoration: underline;
}